.text{
    text-align: center;
    padding-bottom: 10px;
    color: #F29472;

    &__header{
        border-bottom: 5px dotted #592918;
        margin-left: 100px;
        margin-right: 100px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color:  #40303C;
    }

    &__info{
        margin: 50px;
        color:#40303C;
        margin-right: 350px;
    }
}
body {
    background-color: #F2CFBB;
    display: flex;
    justify-content: center;
}

.border{
    width:80%;
    margin: 50px;
    border-radius: 10px;
    box-shadow:10px 10px 10px 1px rgb(174, 22, 22), 15px 15px 15px 1px green inset;
    background-image: url(../pics/AdobeStock_43248127.jpeg);
    background-position: center;
    background-size: cover;
    padding: 50px;
}